*{
   margin:0;
   padding:0;
}

/*for IE6*/
body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

#outer {
  display: table;
  text-align: center;
  height: 70%;
  width: 100%;
}

#main {
  display: table-cell;
  vertical-align: middle;
}

#sub-title {
  letter-spacing: 2px;
  font-size: 1em;
  margin-bottom: 20px;
}

#title {
  letter-spacing: 5px;
  font-size: 1.5em;
  margin-bottom: 20px;
}

#contact {
  margin-top: 50px;
}

#contact li {
  list-style-type: none;
  text-align: center;
}

#contact li a {
  padding: 5px;
}

img {
  -webkit-filter: grayscale(1); /* Chrome, Safari, Opera */
  filter: grayscale(1);
}

img:hover {
  -webkit-filter: grayscale(0); /* Chrome, Safari, Opera */
  filter: grayscale(0);
}

a:link {
  text-decoration: none;
}