body { 
	margin: 0px 0px 0px 0px;
 	background: #F0F0F0;
 }

.header {
	background: #424242;
	width: 100%;
}


#name {
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 1em;
	margin-left: 150px;
}

.details {
	float: left;
	margin-left: 150px;
	margin-top: 60px;
}

.details .title {
	font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
	font-size: 4em;
	color: #1C1C1C;
	font-weight: 900;
}

.details .aboutme {
	font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
	font-size: 1.5em;
	color: #1C1C1C;
	font-weight: 500;
	width: 50%;
	text-align: justify;
	margin-top: 15px;
}

.tagline {
	font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
	font-size: 1.35em;
	color: #D3858F;
	float: right;
	margin-right: 150px;
	margin-top: 5px;
}

.navbar {
	font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
	padding: .25em 0em .25em 0em;
	position: absolute;
	float: right;
	top: 150px;
	right: 150px;
	font-size: 2em;
	list-style: none;
	color: #1C1C1C;
	text-align: right;
  	display: block;
}

.interests {
	list-style: upper-roman;
	font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
	font-size: 1.5em;
	color: #1C1C1C;
	font-weight: 500;
	margin-top: 15px;
	width: 70%;
}

.projects {
	list-style: upper-roman;
	font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
	font-size: 1.5em;
	color: #1C1C1C;
	font-weight: 500;
	margin-top: 15px;
	width: 60%;
	text-align: justify;
}

.currentpagelink {
	color: #D3858F;
}

.social {
	margin-top: 20px;
	list-style: none;
	margin-left: -40px;
	margin-bottom: 30px;
}

.social a:link {
	text-decoration: none;
	color: #D8D8D8;
}

.social li a.linkedin {
	font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
	font-size: 1.5em;
	padding-left: 70px;
	line-height: 60px;
	height: 70px;
	display: block;
	background: url('icons/linkedin.png') no-repeat;
}

a.linkedin:hover {
	text-decoration: none;
	color: #008080;
}

.social li a.facebook {
	font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
	font-size: 1.5em;
	padding-left: 70px;
	line-height: 60px;
	height: 70px;
	display: block;
	background: url('icons/facebook.png') no-repeat;	
}

a.facebook:hover { 
	text-decoration: none;
	color: #333399;
}


.social li a.twitter {
	font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
	font-size: 1.5em;
	padding-left: 70px;
	line-height: 60px;
	height: 70px;
	display: block;
	background: url('icons/twitter.png') no-repeat;
}

a.twitter:hover {
	text-decoration: none;
	color: #3399FF;
}

.social li a.github {
	font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
	font-size: 1.5em;
	padding-left: 70px;
	line-height: 60px;
	height: 70px;
	display: block;
	background: url('icons/github.png') no-repeat;
}

a.github:hover {
	text-decoration: none;
	color: #424242;
}

.social li a.email {
	font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
	font-size: 1.5em;
	padding-left: 70px;
	line-height: 60px;
	height: 70px;
	display: block;
	background: url('icons/email.png') no-repeat;
}

a.email:hover {
	text-decoration: none;
	color: #DC381F;
}

/*.social li a:visited {
	text-decoration: none;
}*/


h4 {
	margin-top: 10px;
	margin-bottom: -10px;
}

h5 {
	margin-top: 10px;
	margin-bottom: -10px;
	color: #D3858F;	
	font-weight: 500;
}

p {
	margin-top: 15px;
	margin-bottom: 20px;
	font-size: 0.9em;
}

h1 {
	margin-top: 0px;
}


a:link {text-decoration: none; color: inherit;}

a:visited {text-decoration: none; color: inherit;}

a:hover {color: #D8D8D8;}